## Node modules
node_modules/

## Docker
Dockerfile
.dockerignore

## Git
.git
.gitignore
gitflow/

## eslint
.eslintrc.json

## Enviroment variables
.env
.env.sample

## Read me
README.md

## Visual Studio Code
.vscode/

## Makefile
makefile

## macOS DS_Store
.DS_Store