## Node modules
node_modules/

## Docker
Dockerfile
.dockerignore

## Git
.git
.gitignore
gitflow/

## eslint
.eslintrc.json

## Enviroment variables sample
.env.sample

## Read me
README.md

## package-lock
package-lock.json

## Visual Studio
.vscode
.vs

## Makefile
makefile

## macOS DS_Store
.DS_Store