## Dependency directories
node_modules/

## package-lock
package-lock.json

## dotenv enviroment variables file
*.env

## Visual Studio
.vscode
.vs

## Optional npm cache directory
.npm

## Optional eslint cache
.eslintcache

## Git
gitflow/

## Logs
logs

## macOS DS_Store
.DS_Store